// VARIABLES

$primary: #19122c;
$primary-invert: #e6364b;

$pagination-current-background-color: #19122c;
$pagination-current-border-color: #19122c;
$pagination-focus-border-color: #19122c;

$link: #e6364b;
